* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    content-visibility: auto;
    contain-intrinsic-size: auto 1rem;
}

/* just in case: make sure the page's minimum width corresponds to the contents,
 * that the maximum corresponds to the viewport width (i.e. window size); that the
 * page's minimum height is the viewport height and the maximum is the content */
html, body {
    min-width: fit-content;
    max-width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
}

/* make sure all children of "body" (i.e. all elements in the page) have a maximum
 * width corresponding to the viewport (i.e. window size). This avoids overflows */
body * {
    max-width: 100vw;
}

header {
    background-color: aliceblue;
    padding: 1rem;
}

.site-nav {
    background-color: lightgreen;
    padding: 1rem;
}

.site-nav > a {
    margin: 0 1rem 0 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    /* if the screen is equal or wider than 64rem (about 1024px, assuming font size 16)
     then make two columns: one for the sidebar and another for the content */
    @media only screen and (min-width: 64rem) {
        grid-template-columns: 1fr 4fr;
    }
}

.page-nav {
    background-color: pink;
    padding: 1rem;
    align-self: start; /* this is necessary to allow the sticky position work */
    /* if the screen is equal or wider than 64rem (about 1024px, assuming font size 16)
     then make the page navigation sidebar sticky (travel along with the scroll),
     set the offset from the edge of the page to 0 and set its height to the viewport*/
    @media only screen and (min-width: 64rem) {
        position: sticky;
        top: 0;
        height: 100vh;
    }
}

/* make sure the page navigation sidebar has some nice indenting */
.page-nav .section-index {
    padding: 0 0 0 1rem;
}

.page-nav .section-index .question-index {
    padding: 0 0 0 1rem;
}

.page-nav .question-index li {
    width: fit-content;
    display: inline-block;
}

main {
    padding: 1rem;
}

.question-card {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0 2rem 0;
    h4 {
        width: 100%;
    }
}

.kql-query,.answer-card,.comment-card {
    width: 100%;
    border: 1px solid gray;
    justify-content: center;
    padding: 1rem;
    align-self: stretch; /* make the elements stretch vertically to fill space */
    h5 {
        border-bottom: 1px solid gray;
        margin: 0 0 1rem 0;
    }
    p, pre > code {
        width: 100%;
        display: inline-block;
        overflow: auto;
    }
    /* if the window is wide enough, make the cards resize themselves to fit the space */
    @media only screen and (min-width: 64rem) {
        flex: 1 1 0;
        width: 0;
    }
}

/* hide empty elements */
.kql-query:has(code:empty){
    display: none;
}

.answer-card:has(p:empty),.comment-card:has(p:empty){
    display: none;
}

/* make the codeblocks look a bit like a terminal */
pre > code {
    background-color: black;
    color: white;
    padding: 0.5rem;
}

footer {
    background-color: lightgoldenrodyellow;
    padding: 1rem;
}
